.card{
    height: 300px;
    margin-right: 1px;
    .card-body{
        padding: 1rem;
        .card-title{
            @include styleText($color-black-0, $fs-0, $fw-1);
        }
        .card-text{
            @include styleText($color-gray-0, $fs-1 - 1, $fw-0);
            margin: $mg-0 0;
        }
        .card__stars{
            i{
                @include styleText($color-yellow-0, $fs-1 - 1, $fw-3);
            }
            span:nth-child(2){
                @include styleText($color-black-0, $fs-1, $fw-1);
            }
            span:last-child{
                @include styleText($color-gray-3, $fs-1 - 1, $fw-0);
            }
        }
        .card__price{
            text-align: right;
            padding: $pd-2 + 2 0;
            span{
                &:first-child{
                    @include styleText($color-gray-0,$fs-1, $fw-0);
                    text-decoration: line-through;
                }
                &:last-child{
                    @include styleText($color-black-0,$fs-0, $fw-3);
                }
            }
        }
    }
}
.card--feedback{
    height: 280px;
    .card-body{
        padding: 2rem;
        .card__top{
            display: flex;
            margin-bottom: 1rem;
        }
        .card__avatar{
            img{
                width: 64px;
                height: 64px;
                border-radius: 50%;
                margin-right: 1rem;
            }
        }
        .card__name{            
                margin-bottom: 0;
        }
        .card-text{
            @include styleText($color-black-0,$fs-0,$fw-0);
        }
    }
}