footer {
    @include styleText($color-gray-0, $fs-1, $fw-0);
    .footer__top {
        width: 90%;
        margin: $mg-3 + 5 auto;
        ul {
            height: 110px;
            li {
                flex-basis: 25%;
                .nav-link {
                    color: $color-blue-0;
                    &.bold {
                        font-weight: $fw-2;
                    }
                    padding: 0;
                }
            }
        }
        .btn-group{
            .button--dropup{
                min-width: 160px;
                i{
                    padding: 0 $pd-2;
                }
                &::after{
                    margin-left: 30%;
                }
            }
            .dropdown-menu{
                font-size: $fs-1;
                box-shadow: none;
            }
        }
    }
    .footer__bottom{
        width: 90%;
        margin: $mg-3 auto;
        img{
            width: 110px;
            margin-right: $mg-0;
        }
        .nav-link{
            @include styleText($color-blue-0, $fs-1, $fw-0);
        }
    }
}
